body{
    font-family: 'Jost';
}

main,
footer{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 34px;
}


